/* App.css */
body {
  margin: 20px;
  padding: 20px;
  font-family: 'Roboto', sans-serif; /* Use Roboto font for better readability */
  background: linear-gradient(to bottom, #78d6e4a8, #ffffff); /* Gradient background */
  min-height: 100vh;
}

.app-container {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  min-height: 400px;
  background-color: rgba(255, 255, 255, 0.9); /* Add semi-transparent background */
  border-radius: 10px; /* Add border radius for container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.app-logo {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.upload-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.start-over-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-over-btn:hover {
  background-color: #0056b3;
}

.next-button {
  display: none; /* Hide the "Next" button */
}